html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#sidebar {
  width: 12rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

#sidebar>* {
  padding-left: 2rem;
  padding-right: 2rem;
}

#sidebar h1 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  border-top: 1px solid #e3e3e3;
  line-height: 1;
  color: green;
}

#sidebar h1::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxjaXJjbGUgY3g9IjI2IiBjeT0iMTYiIHI9IjQiIGZpbGw9ImN1cnJlbnRDb2xvciIvPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTIyIDMwaC0ydi01YTUgNSAwIDAgMC01LTVIOWE1IDUgMCAwIDAtNSA1djVIMnYtNWE3IDcgMCAwIDEgNy03aDZhNyA3IDAgMCAxIDcgN3pNMTIgNGE1IDUgMCAxIDEtNSA1YTUgNSAwIDAgMSA1LTVtMC0yYTcgNyAwIDEgMCA3IDdhNyA3IDAgMCAwLTctN3oiLz48L3N2Zz4=");
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
}

#projects-container {
  flex: 1;
  width: 100%;
  overflow: auto;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}